<div class="dash-container">
  <div class="row">
    <div class="col-auto">
      <h2>{{ data.user.name }}'s Dashboard</h2>
    </div>
  </div>
  <div class="col-auto">
    <form>
    <label for="eventTitle">Title</label>
    <input type="text" id="eventTitle" name="eventTitle" placeholder="Title">
    <label for="eventDescription">Description</label>
    <input type="text" id="eventDescription" name="eventDescription" placeholder="Insert your post body here">
    <label for="eventDate">Date</label>
    <input type="text" id="eventDate" name="eventDate" placeholder="1/1/2000">
    <label for="eventCity">City</label>
    <input type="text" id="eventCity" name="eventCity" placeholder="Atlanta">
    <label for="eventState"> State </label>
    <input type="text" id="eventState" name="eventState" placeholder="Georgia">
    <label for="eventFee">Fee Amount</label>
    <input type="text" name="eventFee" id="eventFee" placeholder="50">
    <button type="submit" class="btn btn-primary"><a href="/createEvent" class="create-class">Create New Event</a></button>
    </form>
  </div>
</div>

{{#if data.user.events.length}}
<div class="dash-container">
  <h3 class="created-events">Created Events:</h3>
  <div class="row">
    {{#each data.user.events as |event| }}
    <div class="col">
      <div class="dash-cards" id="event-post">
        <div class="card-body">
          <h5 class="card-title">{{event.title}}</h5>
          <p class="card-description"><b>Description:</b> {{event.event_description}}</p>
          <p class="card-date"><b>Created on:</b> {{ event.event_date}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{!-- <script src="/public/js/dashboard.js"></script> --}}
{{/if}}
