<div class="dash-container">
  <div class="row">
    <div class="col-auto">
      <h2>{{user_ name}}'s Dashboard</h2>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary"><a href="/createEvent" class="create-class">Create New Event</a></button>
  </div>
</div>

{{#if events.length}}
<div class="dash-container">
  <h3>Created Events:</h3>
  <div class="row">
    {{#each events as |event| }}
    <div class="col">
      <div class="cards" id="event-post">
        <div class="card-body">
          <h5 class="card-title">{{events.title}}</h5>
          <h6 class="card-date">Created on: {{format_date events.created_date}}</h6>
          <button class="btn btn-primary"><a href="/event/{{events.id}}">View Your Events</a></button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{!-- <script src="/public/js/dashboard.js"></script> --}}
{{/if}}
