<div>
    <form>
        <h2>Login</h2>
        <label for="loginEmail">Email</label>
        <input type="text" id="loginEmail" name="loginEmail" placeholder="example@example.com">
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="loginPassword" placeholder="Password">
        <button id="loginSubmit">Submit</button>
    </form>
</div>
<div>
    <form>
        <h2>Sign Up</h2>
        <label for="signupEmail">Email</label>
        <input type="text" id="signupEmail" name="signupEmail" placeholder="example@example.com">
        <label for="signupUsername">Username</label>
        <input type="text" id="signupUsername" name="signupUsername" placeholder="Username">
        <label for="signupPassword">Password</label>
        <input type="password" id="signupPassword" name="signupPassword" placeholder="Password">
        <button id="signupSubmit">Submit</button>
    </form>
</div>
<script src="/js/login.js"></script>