<div>
    <form class="log-form">
        <h2 class="log-name">Login</h2>
        <label class="log-label" for="loginEmail">Email:</label>
        <input class="log-input" type="text" id="loginEmail" name="loginEmail" placeholder="example@example.com">
        <label class="log-label" for="loginPassword">Password:</label>
        <input class="log-input" type="password" id="loginPassword" name="loginPassword" placeholder="Password">
        <button class="log-btn" id="loginSubmit">Submit</button>
    </form>
</div>
<div>
    <form class="log-form">
        <h2 class="log-name">Sign Up</h2>
        <label class="log-label" for="signupEmail">Email:</label>
        <input class="log-input" type="text" id="signupEmail" name="signupEmail" placeholder="example@example.com">
        <label class="log-label" for="signupUsername">Username:</label>
        <input class="log-input" type="text" id = "signupUsername" name="signupUsername" placeholder="Username">
        <label class="log-label" for="signupPassword">Password:</label>
        <input class="log-input" type="password" id="signupPassword" name="signupPassword" placeholder="Password">
        <button class="log-btn" id="signupSubmit">Submit</button>
    </form>
</div>
<script src="/js/login.js"></script>