<div class="row">
  <div class="reg-id {{registration.id}} col-auto">
    <h3>Welcome, {{user_name}}!</h3>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h4>Register by completing the form below:</h4>

    <form class="form new-registration-form">
      <div class="form-group">
        <label for="reg-first-name">Enter your first name: </label>
        <input class="form-input" type="text" id="first-name" name="first-name" />
      </div>
      <div class="form-group">
        <label for="reg-last-name">Enter your first name: </label>
        <input class="form-input" type="text" id="last-name" name="last0name" />
      </div>
      <div class="form-group">
        <label for="reg-email">Enter your email address: </label>
        <input class="form-input" type="text" id="email" name="email"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Registration</button>
        <p>You will be invoiced for the registration fee</p>
      </div>
    </form>
  </div>